.custom-select-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  float: right;
  padding-left: 12px;
  /* transition: transform 0.15s; */
}

.options-container {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 1;
  top: 100%;
  left: 0;
  background-color: #555;
}
.options-container img{
  width: 100%;
}

.option {
  cursor: pointer;
  width: 100%;
}

.custom-select-box.open {
  /* background: #732; */
}

.custom-select-box.open .arrow {
  transform: rotate(180deg);
}

.custom-select-box.open .options-container {
  display: block;
}
