* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
}

.invisible{ display: none; }

body {
  margin: 0;
  background: #222;
  overflow-x: hidden;
}

img {
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#editorContainer{
  width: 66%;
}
#canvasRow{
  width: 34%;
}

@media (max-width: 600px) {
  #editorContainer{
    width: 100%;
  }
  #canvasRow{
    width: 100%;
  }
}

#menu {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 220px;
  display: inline-block;
  z-index: 9999;
}

#gamePadInfoContainer{ height: 100%; }

#infoHeader .scrollingText{
  display: inline-block;
}

#ticker {
  position: fixed;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  background: #111;
  padding: 4px 7px;
  text-align: center;
  font-size: 1.1em;
  float: right;
  width: 50%;
}

h4{
  margin: 0 8px 8px 0px;
}

canvas {
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
  padding: 8px;
  width: 100%;
  min-width: 256px;
  max-width: 512px;
}



#collapseBtn{
  background: #111;
  float: left;
  border: 0;
  text-align: center;
  padding: 4px;
  margin:0;
  font-weight: bold;
  font-size: 1.1em;
}

button:hover, .fakeButton:hover, .custom-select-box:hover, .custom-select-box.open,
#collapseBtn:hover, .option:hover {
  background: #727;
}

button,label, .fakeButton, .custom-select-box, .custom-select-box, .option {
  display: inline-block;
  border: 0;
  background: #237;
  padding: 6px;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: left;
}



.colorBox {
  color: white;
  width: 100%;
  background: #226;
  display: inline-block;
  font-family: monospace;
  font-size: 14px;
  padding: 8px;
}

.CodeMirror-focused, #codeEditorTitle input[type="text"]:focus { outline: 1px dashed white; }

#codeEditorSetup { background: #626;}
#errorOutputContainer { background: #262; height: 100%;}
#compiledCodeContainer{ background: #880;}
#gamePadInfoContainer{ background: #A42; }
#codeEditorTitle{ background: #42A; }
#canvasContainer{ background: #402; }


.imgWrap{
  height: 128px;
  display: inline-block;
  margin-top: -20px;
}

.imgWrap h2{
  position: relative;
  color: black;
  text-shadow: 2px 0px white;
  top: 30px;
  left: 6px;
}

.verticalScrollbar { /*maybe usefull later*/
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#overlay{
  position: fixed;
  display: none;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  margin: 0 auto;
  text-align: center;
  z-index: 999;
}

#overlayPromptBox{
  background: rgba(0,0,0,0.5);
  position: relative;
  top: 35%;
  padding: 12px 6px 24px 6px;
  display: inline-block;
  border: 3px solid #777;
}

#overlayYesButton { background: #273;}

#overlayNoButton { background: #732;}


.fakeButton{
  width: auto;
  float: right;
  margin-top: -4px;
  background: #222;
}

#imageDataContainer {
  background: #624;
}
#imageDataContainer h4 {
  display:inline-block;
  padding-bottom: 6px;
}

#imageDataView {
}

#imageDataView img { max-height: 75px; }
#imageDataView div:hover { outline:3px solid black; }

#imageDataView button {
  display: inline-block;
  width: auto;
  left: 88%;
  position: relative;
  top: -53px;
}

#imageDataView div {
  display: inline-block;
}

#imageDataView h4 {
  display: inline-block;
  position: relative;
  left: 22px;
  top: -55px;
  z-index: 9999;
  text-shadow: 1px 1px black;
  font-size: 24px;
}

#codeEditorTitle { display: flex; }
#codeEditorTitle h4{ display: inline-block; }
#codeEditorTitle input[type="text"]{
  width: 100%;
  border: 0;
  padding-left: 12px;
  background-color: #222;
}
